{% load static %}
<!-- Image and text -->
<nav id="navbar" class="navbar navbar-transparent navbar-expand-lg make-border">            
    <div class="col form-inline">
        {% if user.is_authenticated %}
        <button onclick="openNav()" class="btn mr-4 btn-outline-light">  
            <span class="toggler">
                <i class="fas fa-bars"></i>
            </span>                      
        </button>      
        <a class="navbar-brand" href="{% url 'invest:index' %}">
            <img src="{% static 'img/logo.png' %}" width="60" height="60" class="d-inline-block align-center" alt="">
            Investasi Sampah
        </a>    
        {% else %}
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" width="60" height="60" class="d-inline-block align-center" alt="">
            Investasi Sampah
        </a>       
        {% endif %}   
        <div class="col form-inline justify-content-end">
            {% if user.is_authenticated %}
            <!-- search -->
            <!-- show only in beranda -->
                {% if page == 'Investasi Sampah | Beranda' %}
                <form class="form-inline mr-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>     
                {% endif %}
            <!--  end of search -->
            <a id="btn-message" href="{% url 'invest:chat' %}" class="btn btn-outline-primary mr-3 my-2 my-sm-0" >Message</a>
            <a id="btn-logout" href="{% url 'logout' %}" class="btn btn-danger mr-3 my-2 my-sm-0">Logout</a>  
            {% else %}
                {% if page == 'Masuk' %}
                <a id="btn-login" href="{% url 'core:register' %}" class="btn btn-primary mr-3 my-2 my-sm-0" >Daftar</a>
                {% else %}
                <a id="btn-login" href="{% url 'core:user_login' %}" class="btn btn-primary mr-3 my-2 my-sm-0" >Masuk</a>
                {% endif %}    
            {% endif %}
        </div>                         
    </div>       
</nav>