{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper bg-color">
            <!-- code here -->
                <div class="row row-cols-4">
                    {% if data %}
                        {% for eachdata in data %}
                            <div class="col mb-4">                        
                                <div class="card">                        
                                    <a href="{% url 'invest:detail' eachdata.id %}">
                                        <img src="{{ eachdata.gambar.url }}" class="card-img-top" style="height: 200px; width: 200px;" alt="">                        
                                    </a>                            
                                </div>
                            </div>                    
                        {% endfor %}
                    {% endif %}                    
                </div>
                <!-- end of row -->                
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}