{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper">
            <!-- code here -->
            <div class="card mx-auto" style="width: 28rem;">
                <img src="{% static 'invest/img/logo.png' %}" class="card-img-top center" style="width: 200px;" alt="{% static 'invest/img/logo.png' %}">
                <div class="card-body text-dark">
                    <h5 class="card-title">Jenis Sampah: Plastik</h5>
                    <h5>Alamat Pengambilan: Banda Aceh</h5>
                    <p class="card-text">Deskripsi: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary center" style="width: auto;">Hubungi Penjual</a>
                </div>
            </div>                        
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}