{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper">
            <!-- code here -->            
            <div class="card mx-auto" style="width: 28rem;">
                {% if data %}                
                    <img src="{{ data.gambar.url }}" class="card-img-top center" style="width: 200px; height: 200px;" alt="{% static 'invest/img/logo.png' %}">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Jenis Sampah: {{ data.jenis_sampah }}</h5>
                        <h5>Alamat Pengambilan: {{ data.alamat }}</h5>
                        <p class="card-text">Deskripsi: {{ data.deskripsi }}</p>
                        <a href="{% url 'invest:chat' %}" class="btn btn-primary center" style="width: auto;">Hubungi Penjual</a>
                    </div>                
                {% endif %} 
            </div>                        
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}