{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper">
            <!-- code here -->
            <div class="card mx-auto" style="width: 28rem;">
                <h3 class="text-dark mx-auto">Profil</h3>
                {% if dataUser %}                
                    <img src="{{ advancedData.profile_pic.url }}" class="card-img-top center" style="width: 200px; height: 200px;" alt="{% static 'invest/img/logo.png' %}">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Username: {{ dataUser.username }}</h5>
                        <h5>Nama: {{ dataUser.first_name }}</h5>
                        <h5>Email: {{ dataUser.email }}</h5>
                        <h5>No Telp: {{ advancedData.no_telp }}</h5>                                            
                    </div>                
                {% endif %} 
            </div>                              
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}