{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper bg-color">
            <!-- code here -->
                <h3 class="title text-center text-dark"> Reward</h3>
                <div class="card mb-3">
                    {% if data %}
                        {% for eachdata in data %}
                            <div class="row no-gutters border">
                                <div class="col-md-2">
                                    <img src="{% static 'invest/img/logo.png' %}" class="card-img center" alt="">
                                </div>
                                <div class="col">
                                    <div class="card-body text-dark">                            
                                        <p>Selamat Anda mendapatkan reward sejumlah 1500 koin atas investasi yang anda lakukan</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                    {% else %}
                        <h2 class="text-center text-dark">Anda belum melakukan investasi</h2>
                    {% endif%}                     
                </div>        
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}