{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper bg-color">
            <!-- code here -->
                <h3 class="title text-center text-dark"> Reward</h3>
                <div class="card mb-3">
                    <div class="row no-gutters border">
                        <div class="col-md-2">
                            <img src="{% static 'invest/img/logo.png' %}" class="card-img center" alt="{% static 'invest/img/logo.png' %}">
                        </div>
                        <div class="col">
                            <div class="card-body text-dark">                            
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                        
                            </div>
                        </div>
                    </div>
                    <!-- end of row -->
                    <div class="row no-gutters border">
                        <div class="col-md-2">
                            <img src="{% static 'invest/img/logo.png' %}" class="card-img center" alt="{% static 'invest/img/logo.png' %}">
                        </div>
                        <div class="col">
                            <div class="card-body text-dark">                            
                                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                        
                            </div>
                        </div>
                    </div>
                </div>        
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}