{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">        
        {% include 'invest/snippet/sidebar.html' %}        
        <div id="main" class="col">
            <div class="content-wrapper">
            <!-- code here -->
            <div class="card mx-auto bg-color" style="width: 28rem;">
                <form class="p-3" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}                   
                        <label for="upload-photo" class="upload center" style="margin: 0px;">
                            Tambah Gambar:
                            <img 
                                id="output"
                                src="/media/images/input-image.png"
                                class="card-img-top center" 
                                style="width: 200px; height: 200px;" 
                                alt=""
                            >                            
                            <i class="fas fa-plus-circle plus-icon" style="color: black; right: 110px; top: 255px;"></i>
                        </label>                     
                    {% include 'includes/bs4_form.html' with form=form %}                                      
                    <div class="form-group mb-0 mt-5"></div>
                      <input type="submit" class="btn btn-dark mt-0 center" style="width: 100%;" name="Investasi" value="Investasi">                          
                    </div>
                  </form>                
            </div>                        
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}