{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container m-0 p-0">
    <div class="row">                     
        <div id="main" class="col">
            <div class="content-wrapper bg-color">
            <!-- code here -->
                            
            <!-- end of wrapper -->
            </div>            
        </div>
    </div>    
</div>
{% endblock content %}