{% load static %}
<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="list-menu">
        <span id="profile">
            <img src="{% static 'invest/img/logo.png' %}" width="60" height="60" class="d-inline-block align-center" alt="">
            profile
        </span>
    </div>
    <div class="list-menu">
        <a id="beranda" href="{% url 'invest:beranda' %}">Beranda</a>            
    </div>
    <div class="list-menu">
        <a id="investasi" href="{% url 'invest:investasi' %}">Investasi sampah</a>
    </div>
    <div class="list-menu">
        <a id="reward" href="{% url 'invest:reward' %}">Reward</a>            
    </div>
    <div class="list-menu">
        <a id="histori" href="{% url 'invest:histori' %}">histori dan koin</a>
    </div>
</div>